@media (prefers-color-scheme: dark) {
    body {
        background: black;
        color: white;
    }
}
@media (prefers-color-scheme: light) {
    body {
        background: white;
        color: black;
    }
}
h1 {
}
p {
}

